body {
  font-family: 'Consolas', 'Courier New', monospace;
  background-color: #1e1e1e;
  color: #fff;
  margin: 0;
  padding: 0;
}

.editor {
  height: 80vh;
}

.tab {
  padding: 8px;
  margin: 0 5px;
  background: #333;
  color: white;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
}

.tab.active {
  background: #007acc;
}

.rename-input {
  background: #333;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px;
  font-family: 'Consolas', 'Courier New', monospace;
  font-size: 14px;
  width: 120px;
}
